@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";

.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.mainContainer {
  display: flex;
}
.tableContainerSmall {
  width: 80%;
  margin: 1% auto;
}
.tableContainerFull {
  width: 98%;
  margin: 1%;
}
.sidebarContainer {
  width: 15%;
}
.sidebarContainer-hide {
  width: 0%;
}
.p-dialog-header {
  padding: 1rem 1.5rem !important;
}
.p-dialog {
  height: 90vh !important;
}
.p-dialog-content {
  padding-bottom: 1rem !important;
}
.field {
  margin-bottom: 0 !important;
}
