* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.p-sidebar {
  background-color: #6338a1;
  color: white;
}
.purpleScheme {
  background-color: #6338a1;
  color: white;
}
.p-sidebar-close-icon {
  color: white;
}
.p-sidebar-close-icon:hover {
  color: #673ab7;
  background-color: aliceblue;
}
.navbar {
  width: 100vw;
  padding: 10px 20px;
  background-color: #ffffff;
  display: flex;
  box-shadow: 0 1px 5px rgba(11, 0, 1, 0.2);
}
.p-button-text {
  flex: none;
}
.option {
  margin-top: 10px;
}
.center {
  margin: auto;
  width: 80%;
  border: 1px solid #0d89ec;
  padding: 50px;
  margin-bottom: 50px;
}
.center1 {
  margin: auto;

  border: 1px solid #0d89ec;
  padding: 0px;
  margin-bottom: 50px;
}

.pill {
  padding: 5px;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
}
.unqualified {
  background: rgb(255, 195, 195);

  color: red;
}
.qualified {
  background: rgb(137, 247, 135);
  color: green;
}
.proposal {
  background: rgb(243, 243, 146);
}
.new {
  background: rgb(142, 142, 255);
  color: white;
}
.renewal {
  background: orange;
  color: white;
}
.negotiation {
  background: orchid;
  color: white;
}
th input {
  width: 100%;
}
.imginput {
  margin: 10px 5px;

  box-sizing: border-box;
}
.imginput > input {
  display: none;
}
.imginput > label {
  width: 100%;
  border: 1px dashed gray;
  border-radius: 4px;
  height: 170px;
  margin: 10px auto;
  margin-left: -5px;
  display: flex;
}
label {
  margin-bottom: 10px;
}
#daterangepicker {
  padding: 14px;
}
.btn {
  width: 84px;
}
.e-date-range-wrapper {
  border-width: 1px !important;
  border: solid;
  border-radius: 4px !important;
}
.e-date-range-wrapper::after,
.e-date-range-wrapper::before {
  content: none !important;
  background: none !important;
}
